$size: 1000px;
$color: #263343;
$color-dark: #152231;
$color-contrast: rgb(239, 227, 95);
$font-color: rgb(243, 245, 245);
$search-height: 44px;

* {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $font-color;
}

b {
  font-weight: 700;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  .wrapper {
    background-color: $color;
    min-height: 100vh;
  }
}

header {
  width: 100%;
  background-color: $color-dark;

  .logo {
    padding: 0.5rem 0 0 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: $font-color;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  .search-container {
    position: relative;
    margin: 4rem auto;
    max-width: 500px;
    .search-input {
      width: 100%;
      height: $search-height;
      border-radius: calc(0.5 * $search-height);
      padding-inline-start: 50px;
    }
    i.fa-solid {
      position: absolute;
      color: $color;
      left: 15px;
      top: calc($search-height / 3);
    }
  }
}

.result-20-container {
  .movie-poster {
    max-width: 200px;
    margin: 0 auto;
    border: 4px solid $font-color;
  }
}

.result-container {
  .result {
    line-height: normal;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    opacity: 0.9;
    .movie-poster {
      max-width: 300px;
      margin: 0 auto;
      border: 4px solid $font-color;
    }
    .movie-info {
      text-align: center;
      color: $font-color;
      padding: 3rem 0;

      .movie-title {
        font-size: 2rem;
        font-weight: 600;
        color: $color-contrast;
      }

      .movie-more-info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: 1rem;
        .year {
          font-weight: 500;
        }
        .rated {
          background-color: $color-contrast;
          padding: 0.4rem;
          margin: 0 0.5rem;
          border-radius: 3px;
          font-weight: 600;
          color: $color;
        }
      }
      .genre {
        background-color: $color-dark;
        display: inline-block;
        padding: 0.5rem;
        margin: 0.3rem 0 1rem;
        border-radius: 5px;
      }
      .plot {
        max-width: 400px;
        margin: 1rem auto;
      }
      .language {
        color: $color-contrast;
      }

      .awards {
        font-weight: 300;
        font-size: 0.9rem;
        i {
          color: $color-contrast;
          margin: 1rem 0.7rem 0 0;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .search-container {
    max-width: 350px;
    .search-input {
      max-width: 100%;
    }
  }
  .movie-more-info {
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {
  .result {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .result-container {
    .result {
      .movie-info {
        text-align: left;
        padding-top: 0;
        .movie-more-info {
          justify-content: flex-start;
          padding-left: 0;
        }

        .plot {
          margin-left: 0;
        }
        .writer {
          padding-left: 0;
          margin-left: 0;
        }
      }
    }
  }
}
